@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&family=Roboto+Condensed&display=swap');

/*phone veiw
*/
.lesson-two{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
/*tablet veiw
*/
@media only screen and (min-width: 37.5em) {
    .lesson-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      }
      .one{
        grid-template-columns: 1fr  
      }
      .two{
        grid-template-columns: 1fr
      }
      .three{
          column-span: 2;
      }
}
    
/*computer veiw
*/
@media only screen and (min-width: 60em) {
    .lesson-two{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
      }
      .one{
        grid-template-columns: 1fr
      }
      .two{
        grid-template-columns: 1fr
      }
      .three{
        grid-template-columns: 1fr
      }
}