@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&family=Roboto+Condensed&display=swap');

/*phone veiw
*/
.lesson-two{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  .text-one{
    display: inline-block;
    background-color: #AFFc41;
    color: #086375;     
}
.head-one{
    background-color: #086375; 
    color: #AFFc41;
}
.img-one{
    max-width: 34vw;
    height: auto;
}

/*tablet veiw
*/
@media only screen and (min-width: 37.5em) {
    .lesson-two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      }
      .one{
        grid-template-columns: 1fr  
      }
      .two{
        grid-template-columns: 1fr
      }
      .three{
          grid-column: span 2;
      }
      .text-two{
        display: inline-block;
        background-color: #086375;
        color: #AFFc41;
      }
      .head-two{
        background-color: #AFFc41;
        color: #086375;
      }
      .img-two{
        max-width: 34vw;
        height: auto;
    }
}
    
/*computer veiw
*/
@media only screen and (min-width: 60em) {
    .lesson-two{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
      }
      .one{
        grid-template-columns: 1fr
      }
      .two{
        grid-template-columns: 1fr
      }
      .three{
        grid-template-columns: 1fr
      }
      .text-three{
        display: inline-block;
        background-color: #AFFc41;
        color: #086375;
    }
    .head-three{
        background-color: #086375;
        color: #AFFc41;
    }
    .img-three{
        max-width: 34vw;
        height: auto;
    }
}