@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&family=Roboto+Condensed&display=swap');

/*phone veiw
*/
.lesson-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.text-one {
    display: inline-block;
    background-color: #FFFFFF;
}
.text-two {
    display: inline-block;
    background-color: #FFFFFF;
}
.text-three {
    display: inline-block;
    background-color: #FFFFFF;
}

.img-one {
    max-width:25vw;
    height: auto;
    margin-left: 50px;
}
.img-two {
    max-width:25vw;
    height: auto;
    margin-left: 50px;
}
.img-three {
    max-width:25vw;
    height: auto;
    margin-left: 50px;
}
.one {
    background-color: #01161e;
    padding: 25px;
}
.head-one{
    background-color: #CFD7C7;
    color: #01161e;
}

.two {
    background-color: #01161e;
    padding: 25px;}
    .head-two{
        background-color: #CFD7C7;
        color: #01161e;
    }

.three {
    background-color: #01161e;
    padding: 25px;}
    .head-three{
        background-color: #CFD7C7;
        color: #01161e;
    }

    header,
footer {
    padding: 0em 2em;
    background-color:#658E9C ;
    color:#CACF85 ;
}

header {
    max-height: 10em;
    width: auto;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

footer {
    margin: 0em;
    padding: 1em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


footer a:hover {
    color: white;
}


/*tablet veiw
*/
@media only screen and (min-width: 32.5em) {
    .lesson-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .one {
        grid-template-columns: 1fr
    }

    .two {
        grid-template-columns: 1fr
    }

    .three {
        grid-template-columns: span 2
    }
}

/*computer veiw
*/
@media only screen and (min-width:800px) {
    .lesson-two {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .one {
        grid-template-columns: 1fr
    }
    .two {
        grid-template-columns: 1fr
    }
    .three {
        grid-template-columns: 1fr
    }
}