.navigation {
	list-style: none;
    padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
}

.responsive li {
	display: block;
@media only screen and (min-width: 667px) {
    .lesson3 {
        .navigation {
            display: flex;
            max-width: 337px;
        }
        .navigation li {
            display: block;
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
    }

    }
@media only screen and (min-width: 864px) {
    .lesson3 {
        .navigation {
            max-width: 464px;

    }