/*Computer veiw*/
@media only screen and (min-width: 1000px) {
    .rentals {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .small-table {
        display: none;
    }

    .medium-table {
        display: none;
    }

    .large-table {
        display: table;
    }

    /* Parent Container */
    .content_img {
        width: 300px;
        height: auto;
        float: left;
        margin-left: 75px;
    }

    /* Child Text Container */
    .content_img div {
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        margin-bottom: 5px;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
    }

    /* Hover on Parent Container */
    .content_img:hover {
        cursor: pointer;
    }

    .content_img:hover div {
        width: 250px;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7;
    }

    #hero-box img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .island-image {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .tour-pictures {
        max-width: 550px;
        height: 260px;
    }

    #places-to-visit h4 {
        width: 45%;
    }

    #island-features h4 {
        width: 45%;
    }

    #places-to-eat h4 {
        width: 45%;
    }

    #places-to-visit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    #places-to-visit :nth-child(7) {
        grid-column: 1 / span 2;
    }

    #history {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    #history :nth-child(3) {
        grid-column: 1 / span 2;
    }

    #island-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    #places-to-eat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .contact-us-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .rental-summary-head,
    .forecast-head,
    .call-to-action-head {
        width: 45%;
    }

    .social-media img {
        height: auto;
        width: 100px;
    }

    #contact-forms {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    #contact-form {
        grid-column: 2/3;
    }

    #rental-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rental-info {
        grid-column: 2;
    }

    #rental-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .head-img {
        width: 200px;
        height: auto;
    }

    .header-h1 {
        padding: 10px;
        margin-top: 15px;
        margin-bottom: -25px;
        background-color: #000080;
        font-size: 36px;
    }

    .head-motto {
        letter-spacing: 1pt;
        margin-left: 20px;
        font-size: 24px;
        color: #eace6a;
    }

    .header-h1 {
        grid-area: header;
    }

    .head-img {
        grid-area: img;
    }

    .head-motto {
        grid-area: motto;
    }

    header {
        background-color: #000080;
        padding: 5px 0;
        display: grid;
        color: #0275f4;
        display: grid;
        margin-bottom: -50px;
        grid-template-areas:
            'img header header header header'
            'img motto motto motto motto';
    }

    .navigation {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .homepage-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1f;
    }

    .centered-homepage {
        grid-column: 2/3;
    }

}