.lesson3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    background-color: #7df9ff;
}
.type {
    font-size: 36px;
    font-family: "Bangers";
    color: #22223b;
}
.type2 {
    font-size: 10px;
    font-family: "Secular One";
    color: #4a4e69;
}
.type3 {
    font-size: 30px;
    font-family: "Peddana";
    color: #9a8c98;
}
.type4 {
    font-size: 24px;
    font-family: "Peddana";
    color: #9a8c98;
}
.type5 {
    font-size: 18px;
    font-family: "Peddana";
    color: #9a8c98;
}
.type6 {
    font-size: 12px;
    font-family: "Epilogue";
    color: #717a7d;
}
nav {
	margin: 0 auto;
	max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.responsive li {
	display: block;
}
@media only screen and (min-width: 32.5em) {
    .lesson3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .pageheading{
        grid-template-columns: span 2;
    }
    .text-one {
        grid-template-columns: 1fr;
        display: inline-block;
    }
    .text-two {
        grid-template-columns: 1fr;
        display: inline-block;
    }
    .table-one{
        max-width:25vw;
        height: auto;
    }
    .type {
        font-size: 42px;
        font-family: "Bangers";
        color: #22223b;
    }
    .type2 {
        font-size: 36px;
        font-family: "Secular One";
        color: #4a4e69;
    }
    .type3 {
        font-size: 30px;
        font-family: "Peddana";
        color: #9a8c98;
    }
    .type4 {
        font-size:24px;
        font-family: "Peddana";
        color: #9a8c98;
    }
    .type5 {
        font-size: 20px;
        font-family: "Peddana";
        color: #9a8c98;
    }
    .type6 {
        font-size: 16px;
        font-family: "Epilogue";
        color: #717a7d;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
