.type{
    font-size: 42px;
     font-family: "Bangers";
     color:#22223b;
}
.type2{
    font-size: 14px;
    font-family: "Secular One";
     color:#4a4e69;
}
.type3{
    font-size: 36px;
     font-family: "Peddana";
     color:#9a8c98;
}
.type4{
    font-size: 30px;
     font-family: "Peddana";
     color:#9a8c98;
    
}
.type5{
    font-size: 24px;
     font-family: "Peddana";
     color:#9a8c98;
}
.type6{
    font-size: 16px;
    font-family: "Epilogue";
     color:#717a7d; 
}